
.nav{
    display: flex;
    justify-content: space-between;
    background-color: aqua;
}

.nav__list{
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: gray;
    align-items: center;
}

.nav__link{
    
    text-decoration: none;
    list-style: none;
    padding: 4rem;
   
}

